<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362867090129-26kq0m4mrfp3f5mgj2if814qp9jgidum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362867090129-26kq0m4mrfp3f5mgj2if814qp9jgidum</string>
	<key>API_KEY</key>
	<string>AIzaSyDRF8A65_wQWCj09Qa9TCs-j7HkoHxKI-0</string>
	<key>GCM_SENDER_ID</key>
	<string>362867090129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pomo</string>
	<key>PROJECT_ID</key>
	<string>builder-3d920</string>
	<key>STORAGE_BUCKET</key>
	<string>builder-3d920.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362867090129:ios:42f321f9daf0dcd8f01bf0</string>
</dict>
</plist>